In [59]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv('./resources/Books.csv')
df = df.drop(['Unnamed: 0'], axis = 1)
df.head()

,Title,Author,Rating Count,Review Count,Rating Value,N pag,1st Pub,series,Genres,Awards,Link
0,To Kill a Mockingbird,Harper Lee,4629082,92962,4.28,324.0,1960.0,1,"['Classics', 'Fiction', 'Historical']","['Pulitzer Prize for Fiction (1961)', 'Audie A...",https://www.goodreads.com/book/show/2657.To_Ki...
1,1984,George Orwell,3250211,72375,4.19,237.0,1949.0,0,"['Classics', 'Fiction', 'Science Fiction']","['Prometheus Hall of Fame Award (1984)', 'Locu...",https://www.goodreads.com/book/show/40961427-1984
2,The Great Gatsby,F. Scott Fitzgerald,3877685,68965,3.93,200.0,1925.0,0,"['Classics', 'Fiction', 'Academic']",['Grammy Award Nominee for Best Spoken Word Al...,https://www.goodreads.com/book/show/3.Harry_Po...
3,Harry Potter and the Sorcerer's Stone,J.K. Rowling,7281482,115354,4.48,309.0,1997.0,1,"['Fantasy', 'Fiction', 'Young Adult']","[""Mythopoeic Fantasy Award for Children's Lite...",https://www.goodreads.com/book/show/4671.The_G...
4,"The Hobbit, or There and Back Again",J.R.R. Tolkien,2973224,49547,4.28,366.0,1937.0,1,"['Fantasy', 'Classics', 'Fiction']","['Keith Barker Millennium Book Award', 'Books ...",https://www.goodreads.com/book/show/170448.Ani...

In [65]:
max_rating = df['Rating Value'].max()
min_rating = df['Rating Value'].min()
range_of_ratings = max_rating - min_rating

df['minmax_norm_ratings'] = round(1 + 9*((df['Rating Value'] - min_rating)/range_of_ratings) , 3)

mean_rating = df['Rating Value'].mean()

df['mean_norm_ratings'] = round(1 + 9*((df['Rating Value'] - mean_rating)/range_of_ratings) , 3)
df.head()
df.to_csv('books.csv')